* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}
/*ff497a*/
:root {
  --background-img: url("img/--img-lizzie2.jpeg");
  --color-MBtext1: #a31919;
  --color-MBtext2: #ffffff;
  --color-titlep: #0d293a;
  --color-frame: #ffffff;
  --color-p3p:#0d293a;
  --color-gtext1: #ffffff;
  --color-theme1:#ffffff;
  --color-titlepage1: #0d293a;
  --color-p2-text2:#717171;
  --color-cont1:#0d293a;
  --color-primary: #ffffff;
  --color-secondary: #0d293a;
  --color-mainbtn3:#FFFFFF;
  --color-tertiary:#a31919;
  --color-abt-text:#ffffff;
  --color-mainbtn2: #a31919;
  --color-quaternary: #009dff;
  --color-quinary: #000000;
  --color-senary: #0d293a;
  --color-mainbtn1: #04111a;
  --color-septenary: #384d48;
  --color-octonary: #6c7983;
  --color-nonary: #cacaca;
  --color-denary: #a44300;
  --color-white: #FFFFFF;
  --color-black: #000;
  --color-grey0: #f8f8f8;
  --color-grey-1: #dbe1e8;
  --color-grey-2: #b2becd;
  --color-grey-3: #6c7983;
  --color-grey-4: #454e56;
  --color-grey-5: #2a2e35;
  --color-grey-6: #12181b;
  --color-HI1:#0d293a;
  --color-HI2:#a31919;
  --color-HI3:#FFFFFF;
  --color-HI4:#FFFFFF;
  --color-bodyt:#0d293a;
  --br-sm-2: 14px;
  --box-shadow-1: 0 3px 15px rgba(0,0,0,.3) ;
  --blog-fade:rgba(255, 255, 255, 0.5);
  --color-con-text:#FFFFFF;
  --color-conframe1:#a31919;
  --color-conframe2:#f6f6f6;
}

.light-mode {
  --background-img: url("img/--img-lizzie2.jpeg");
  --color-MBtext1: #ffffff;
  --color-MBtext2: #ffffff;
  --color-p2-text2:#aaaaaa;
  --color-bodyt:#0d293a;
  --color-HI1:#FFFFFF;
  --color-HI2:#ea5e5e;
  --color-HI3:#FFFFFF;
  --color-HI4:#0d293a;
  --color-p3p:#FFFFFF;
  --color-abt-text:#0d293a;
  --color-frame:#0d293a;
  --color-titlep: #FFFFFF;
  --color-gtext1: #0d293a;
  --color-theme1:#b2becd;
  --color-primary: #0d293a;
  --color-secondary: #ffffff;
  --color-mainbtn3:#0d293a;
  --color-cont1:#454545;
  --color-tertiary: #ea5e5e;
  --color-mainbtn2: #ea5e5e;
  --color-quaternary: #848484;
  --color-quinary: #0d293a;
  --color-senary: #FFFFFF;
  --color-mainbtn1: #0d293a;
  --color-septenary: #FFFFFF;
  --color-octonary: #6c7983;
  --color-nonary: #787878;
  --color-denary: #a44300;
  --color-white: #FFFFFF;
  --color-black: #000;
  --color-grey0: #f8f8f8;
  --color-grey-1: #dbe1e8;
  --color-grey-2: #b2becd;
  --color-grey-3: #6c7983;
  --color-grey-4: #454e56;
  --color-grey-5: #2a2e35;
  --color-grey-6: #12181b;
  --br-sm-2: 14px;
  --box-shadow-1: 0 3px 15px rgba(0,0,0,.3) ;
  --blog-fade:rgba(255, 255, 255, 0.5);
  --color-con-text:#FFFFFF;
  --color-conframe1:#ea5e5e;
  --color-conframe2:#FFFFFF;
  /*0050A5 RBC Blue*/
}

body {
  background-color: var(--color-primary);
  font-family: "Public Sans", sans-serif;
  font-size: 1.1rem;
  color: var(--color-body);
  transition: all 0.4s ease-in-out;
  /*/ background-image: url("../img/--img-back.jpeg"); /*/
  background-size: cover;
  background-repeat: no-repeat;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  font-family: inherit;
}

header {
  min-height: 100vh;
  color: var(--color-titlepage1);
  overflow: hidden;
  padding: 0 !important;
}

section {
  min-height: 100vh;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  padding: 3rem 18rem;
}
html { scroll-behavior: smooth; } 
.container {
  display: none;
  transform: translateY(-100%) scale(0);
  transition: all 0.4s ease-in-out;
  background-color: var(--color-primary);
}

.sec1 {
  display: none;
  transform: translateY(0) scale(1);
}

.sec2 {
  display: none;
  transform: translateY(0) scale(1);
}

.sec3 {
  display: none;
  transform: translateY(0) scale(1);
}

.sec4 {
  display: none;
  transform: translateY(0) scale(1);
}

.sec5 {
  display: none;
  transform: translateY(0) scale(1);
}

.sec6 {
  display: none;
  transform: translateY(0) scale(1);
}

.active {
  display: block;
  -webkit-animation: appear 1s ease-in-out;
          animation: appear 1s ease-in-out;
  transform: translateY(0) scaleY(1);
}
@-webkit-keyframes appear {
  0% {
    transform: translateY(-100%) scaleY(0);
  }
  100% {
    transform: translateY(0) scaleY(1);
  }
}
@keyframes appear {
  0% {
    transform: translateY(-100%) scaleY(0);
  }
  100% {
    transform: translateY(0) scaleY(1);
  }
}

.controls {
  position: fixed;
  z-index: 10;
  top: 50%;
  right: 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translateY(-50%);
}
.controls .control {
  padding: 1rem;
  cursor: pointer;
  background-color: var(--color-cont1);
  width: 55px;
  height: 55px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.7rem 0;
  box-shadow: var(--box-shadow-1);
  transition: all 0.1s ease-in-out;
}
.controls .control:active {
  transform: translateY(-5px);
}
.controls .control i {
  font-size: 1.2rem;
  color: var(--color-grey-2);
  pointer-events: none;
}
.controls .active-btn {
  background-color: var(--color-tertiary);
  transition: all 0.4s ease-in-out;
}
.controls .active-btn i {
  color: var(--color-white);
}

.theme-btn {
  top: 5%;
  right: 3%;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background-color: var(--color-tertiary);
  cursor: pointer;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: var(--box-shadow-1);
  transition: all 0.1s ease-in-out;
}
.theme-btn:active {
  transform: translateY(-5px);
}
.theme-btn i {
  font-size: 1.4rem;
  color: var(--color-theme1);
  pointer-events: none;
}

/*Header-content on Home Page*/
.header-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  min-height: 100vh;
}
.header-content .left-header {
  display: flex;
  align-items: center;
  position: relative;
}
.header-content .left-header .h-shape {
  transition: all 0.4s ease-in-out;
  width: 100%;
  height: 100%;
  background-color: var(--color-tertiary);
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  box-shadow: 0 2px 15px rgba(0,0,0,.3) ;

  clip-path: polygon(95.00% 50.00%,80% 100%,0% 100%,0% 0%,80% 0%);

}
.header-content .left-header .image {
  border-radius: 15px;
  height: 90%;
  width: 65%;
  margin-left: 4rem;
  background-color: var(--color-frame);
  transition: all 0.4s ease-in-out;
  border: 30px solid var(--color-frame);
}
.header-content .left-header .image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 0.4s ease-in-out;
}
.header-content .left-header .image:hover {
  transform: scale(1.05);
}

.header-content .left-header .image img:active{
    transform: translateY(-5px);
  }

.header-content .right-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 18rem;
}
.header-content .right-header .name {
  font-size: 3rem;
  color: var(--color-tertiary);
  text-shadow: 0 2px 15px rgba(0,0,0,.3);
}
.header-content .right-header .name span {
  color: var(--color-secondary);
}
.header-content .right-header p {
  margin: 1.5rem 0;
  line-height: 2rem;
  color: var(--color-p2-text2);
 
}

/*/ ABOUT SECTION ---------------------------------------------------------------------------/*/
/*/ The about container for left and right sections with the grid outline for them /*/ 
.about-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  padding-top: 3rem;
  padding-bottom: 3.5rem;
}

/*/ *** The right side of the about page *** /*/ 
/*/ The right side container grid /*/ 
.about-container .right-about {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  grid-gap: 2rem;
  padding: 0.2rem;
}

.about-container .right-about a {
  border: 3px solid var(--color-senary);
  border-radius: 15px;
  transition: all 0.4s ease-in-out;
  box-shadow: 1px 2px 15px rgba(0, 0, 0, 0.2);
  background-color: var(--color-senary);
}

/*/ An about item square on the right side of the page /*/ 
.about-container .right-about .about-item {
  border: 3px solid var(--color-senary);
  border-radius: 15px;
  transition: all 0.4s ease-in-out;
  background-color: var(--color-senary);
}

/*/ An about item square on the right side of the page HOVER settings/*/ 
.about-container .right-about a:hover {
  cursor: default;
  transform: translateY(-5px);
  border: 3px solid var(--color-tertiary);
  box-shadow: 1px 4px 15px rgba(0, 0, 0, 0.5);
}

/*/ The text that goes inside the boxes on the right /*/ 
.about-container .right-about .about-item .abt-text {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
}

/*/ The large text in the boxes on the right above the small text /*/ 
.about-container .right-about .about-item .abt-text .large-text {
  font-size: 3rem;
  font-weight: 700;
  color: var(--color-abt-text);
}

/*/ The small text in the boxes on the right below the large text /*/ 
.about-container .right-about .about-item .abt-text .small-text {
  padding-left: 3rem;
  position: relative;
  text-transform: uppercase;
  font-size: 1.2rem;
  color: var(--color-gtext1);
  letter-spacing: 2px;
}
 /*/ The small line before the small text in the boxes on the about pages  /*/ 
.about-container .right-about .about-item .abt-text .small-text::before {
  content: "";
  position: absolute;
  left: 0;
  top: 15px;
  width: 2rem;
  height: 2px;
  background-color: var(--color-gtext1);
}

.about-container .left-about {
  padding-right: 0rem;
}
.about-container .left-about p {
  line-height: 2rem;
  padding: 0.5rem;
  color: var(--color-secondary);
  text-align: justify;
  padding-bottom: 3rem;
}
.about-container .left-about h4 {
  font-size: 2rem;
  text-transform: uppercase;
  color: var(--color-tertiary);
  text-shadow: 0 2px 15px rgba(0,0,0,.2);
  padding-left: 0.4rem;
}

.about-container .left-about .btn-con-abt {
  display: flex;
  align-self: flex-start;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: 1rem;
  padding-left: 0.5rem;
}

.about-container .left-about .btn-con-abt .main-btn:hover .btn-text { 
  padding: 0 2rem;
  color: var(--color-MBtext2);
}

.about-container .left-about .btn-con-abt .main-btn {
  border-radius: 40px;
  color: inherit;
  font-weight: 600;
  position: relative;
  border: 3px solid var(--color-mainbtn2);
  display: flex;
  align-self: flex-start;
  align-items: center;
  overflow: hidden;
}
.about-container .left-about .btn-con-abt .main-btn .btn-text {
  padding: 0 2rem;
  color: var(--color-MBtext1);
}

.about-container .left-about .btn-con-abt .main-btn .btn-icon {
  background-color: var(--color-tertiary);
  color: var(--color-HI3);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 1rem;
}
.about-container .left-about .btn-con-abt .main-btn::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(100%);
  transition: all 0.4s ease-out;
  z-index: -1;
}
.about-container .left-about .btn-con-abt .main-btn:hover {
  transition: all 0.4s ease-out;
  
}

.about-container .left-about .btn-con-abt .main-btn:hover::before {
  width: 100%;
  height: 100%;
  background-color: var(--color-tertiary);
  transform: translateX(0);
  transition: all 0.4s ease-out;
}






.about-stats {
  padding-bottom: 4rem;
}
.about-stats .progress-bars {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
}
.about-stats .progress-bars .progress-bar {
  display: flex;
  flex-direction: column;
}
.about-stats .progress-bars .progress-bar .prog-title {
  text-transform: uppercase;
  font-weight: 500;
}
.about-stats .progress-bars .progress-bar .progress-con {
  display: flex;
  align-items: center;
}
.about-stats .progress-bars .progress-bar .progress-con .prog-text {
  color: var(--color-grey-2);
}
.about-stats .progress-bars .progress-bar .progress-con .progress {
  width: 100%;
  height: 0.45rem;
  background-color: var(--color-grey-4);
  margin-left: 1rem;
  position: relative;
}
.about-stats .progress-bars .progress-bar .progress-con .progress span {
  position: absolute;
  top: 0;
  left: 0%;
  height: 100%;
  background-color: var(--color-secondary);
  transition: all 0.4s ease-in-out;
  width: 60%;
}
.about-stats .progress-bars .progress-bar .progress-con .progress .html {
  width: 90%;
}
.about-stats .progress-bars .progress-bar .progress-con .progress .skill1 {
  width: 90%;
}
.about-stats .progress-bars .progress-bar .progress-con .progress .skill2 {
  width: 90%;
}
.about-stats .progress-bars .progress-bar .progress-con .progress .skill3 {
  width: 90%;
}
.about-stats .progress-bars .progress-bar .progress-con .progress .skill4 {
  width: 90%;
}
.about-stats .progress-bars .progress-bar .progress-con .progress .skill5 {
  width: 90%;
}

.stat-title {
  text-transform: uppercase;
  font-size: 2rem;
  text-align: center;
  padding: 2rem 0;
  margin-bottom: 1rem;
  position: relative;
  color: var(--color-secondary);
}


/*/ ABOUT SECTION - TIMELINE ---------------------------------------------------------------------------/*/

.timeline {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 2rem;
  padding-bottom: 3rem;
}
.timeline .timeline-item {
  position: relative;
  padding-left: 3rem;
  border-left: 1px solid var(--color-secondary);
}
.timeline .timeline-item .tl-icon {
  position: absolute;
  left: -25px;
  top: 0;
  background-color: var(--color-secondary);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.timeline .timeline-item .tl-icon img {
  font-size: 1rem;
  clip-path: circle(28px at center);
  filter: drop-shadow(50px 50px 20px rgba(50, 50, 0, 0.5));
  width: 60px;
  height: 60px;
  /*(3840/2160)*height for the width */
  color: #0050A5;;
}
.timeline .timeline-item .tl-duration {
  padding: 0.2rem 0.6rem;
  background-color: var(--color-secondary);
  border-radius: 15px;
  display: inline-block;
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: 500;
  color: var(--color-abt-text);
}
.timeline .timeline-item h5 {
  padding: 1rem 0;
  text-transform: uppercase;
  font-size: 1.3rem;
  font-weight: 600;
  color: var(--color-tertiary);
  text-shadow: 0 2px 15px rgba(0,0,0,.3);
}
.timeline .timeline-item h5 span {
  color: var(--color-octonary);
  font-weight: 500;
  font-size: 1.2rem;
}
.timeline .timeline-item p {
  color: var(--color-secondary);
  line-height: 1.8rem;
}
.timeline .timeline-item ul li {
  color: var(--color-secondary);
  text-align: justify;
  line-height: 1.3rem;
  list-style-type: disc;
  padding: 0.5rem;
}

.stat-title::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  width: 70%;
  height: 1px;
  background-color: var(--color-secondary);
  transform: translateX(-50%);
}

/*/ UNIVERSITY PORTFOLIO SECTION ---------------------------------------------------------------------------/*/


.port-text {
  color: var(--color-p2-text2);
  padding: 0.5rem;
  margin-bottom: 1rem;
  text-align: center;

}

.port-stat-title {
  text-transform: uppercase;
  font-size: 2rem;
  text-align: center;
  padding: 2rem;
  position: relative;
  color: var(--color-secondary);
}

.portfolios {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  margin-top: 1rem;
  margin-bottom: 6rem;
}
.portfolios .portfolio-item {
  position: relative;
  background-color: var(--color-senary);
  border-radius: 5px;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.1);
  transition: all 0.4s ease-in-out;
}
.portfolios .portfolio-item:hover {
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.3);
  transform: translateY(-5px);
  transition: all 0.4s ease-in-out;
}
.portfolios .portfolio-item:hover img {
  transform: scale(1.1);
  box-shadow: 1px 4px 15px rgba(0, 0, 0, 0.8);
}
.portfolios .portfolio-item img {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  transition: all 0.4s ease-in-out;
}
.portfolios .portfolio-item .hover-items {
  width: 100%;
  height: 300px;
  background-color: var(--color-senary);
  position: absolute;
  left: 0;
  top: 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  transform: scale(0);
  transition: all 0.4s ease-in-out;
}
.portfolios .portfolio-item .hover-items h3 {
  font-size: 1.5rem;
  color: var(--color-mainbtn3);
  margin-bottom: 1.5rem;
}
.portfolios .portfolio-item .hover-items .icons {
  display: flex;
  justify-content: center;
  align-items: center;
}
.portfolios .portfolio-item .hover-items .icons .icon {
  background-color: var(--color-HI4);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0.75rem;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}
.portfolios .portfolio-item .hover-items .icons .icon i {
  font-size: 1.5rem;
  color: var(--color-HI1);
  margin: 0 1rem;
}
.portfolios .portfolio-item .hover-items .icons .icon:hover {
  background-color: var(--color-HI2);
}
.portfolios .portfolio-item .hover-items .icons .icon:hover i {
  color: var(--color-HI3);
}
.portfolios .portfolio-item .port-item-text {
  margin-top: -7px;
  padding: 1.1rem;
  border-top: 10px solid var(--color-tertiary);
  text-shadow: 0 2px 15px rgba(0,0,0,.3);
}
.portfolios .portfolio-item .port-item-text h4 {
  font-size: 1.5rem;
  color: var(--color-mainbtn3);
  margin-bottom: 0.7rem;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}
.portfolios .portfolio-item .port-item-text h4:hover {
  color: var(--color-tertiary);
  text-shadow: 0 2px 15px rgba(0,0,0,.3);
}
.portfolios .portfolio-item .port-item-text p {
  color: var(--color-gtext1);
  line-height: 1.5rem;
  padding-bottom: 1rem;
  text-align: justify;
}
.portfolios .portfolio-item .port-item-text h5 {
  color: var(--color-tertiary);
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  text-shadow: 0 2px 15px rgba(0,0,0,.3);
}

.portfolios-essay {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  margin-top: 1rem;
  margin-bottom: 6rem;
}
.portfolios-essay .portfolio-item {
  position: relative;
  background-color: var(--color-senary);
  border-radius: 5px;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.1);
  transition: all 0.4s ease-in-out;
}
.portfolios-essay .portfolio-item:hover {
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.3);
  transform: translateY(-5px);
  transition: all 0.4s ease-in-out;
}
.portfolios-essay .portfolio-item:hover img {
  transform: scale(1.1);
  box-shadow: 1px 4px 15px rgba(0, 0, 0, 0.8);
}
.portfolios-essay .portfolio-item img {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  transition: all 0.4s ease-in-out;
}
.portfolios-essay .portfolio-item .hover-items {
  width: 100%;
  height: 300px;
  background-color: var(--color-senary);
  position: absolute;
  left: 0;
  top: 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  transform: scale(0);
  transition: all 0.4s ease-in-out;
}
.portfolios-essay .portfolio-item .hover-items h3 {
  font-size: 1.5rem;
  color: var(--color-mainbtn3);
  margin-bottom: 1.5rem;
}
.portfolios-essay .portfolio-item .hover-items .icons {
  display: flex;
  justify-content: center;
  align-items: center;
}
.portfolios-essay .portfolio-item .hover-items .icons .icon {
  background-color: var(--color-HI4);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0.75rem;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}
.portfolios-essay .portfolio-item .hover-items .icons .icon i {
  font-size: 1.5rem;
  color: var(--color-HI1);
  margin: 0 1rem;
}
.portfolios-essay .portfolio-item .hover-items .icons .icon:hover {
  background-color: var(--color-HI2);
}
.portfolios-essay .portfolio-item .hover-items .icons .icon:hover i {
  color: var(--color-HI3);
}
.portfolios-essay .portfolio-item .port-item-text {
  margin-top: -7px;
  padding: 1.1rem;
  border-top: 10px solid var(--color-tertiary);
}
.portfolios-essay .portfolio-item .port-item-text h4 {
  font-size: 1.5rem;
  color: var(--color-mainbtn3);
  margin-bottom: 0.7rem;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}
.portfolios-essay .portfolio-item .port-item-text h4:hover {
  color: var(--color-tertiary);
  text-shadow: 0 2px 15px rgba(0,0,0,.3);
}
.portfolios-essay .portfolio-item .port-item-text p {
  color: var(--color-gtext1);
  line-height: 1.5rem;
  padding-bottom: 1rem;
  text-align: justify;
}
.portfolios-essay .portfolio-item .port-item-text h5 {
  color: var(--color-tertiary);
  text-shadow: 0 2px 15px rgba(0,0,0,.3);
}

.portfolio-item:hover .hover-items {
  opacity: 1;
  transform: scale(1.1);
}

/*/ PROJECTS SECTION ------------------------- --------------------------------------------------/*/


.projects {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  grid-gap: 2rem;
  margin-top: 1rem;
  margin-bottom: 6rem;
}
.projects .pj-item {
  position: relative;
  background-color: var(--color-senary);
  border-radius: 5px;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.1);
  transition: all 0.4s ease-in-out;
}
.projects .pj-item:hover {
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.3);
  transform: translateY(-5px);
  transition: all 0.4s ease-in-out;
}
.projects .pj-item:hover img {
  transform: scale(1.1);
  box-shadow: 1px 4px 15px rgba(0, 0, 0, 0.8);
}
.projects .pj-item img {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  transition: all 0.4s ease-in-out;
}
.projects .pj-item .pj-hover-items {
  width: 100%;
  height: 300px;
  background-color: var(--color-senary);
  position: absolute;
  left: 0;
  top: 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  transform: scale(0);
  transition: all 0.4s ease-in-out;
}
.projects .pj-item .pj-hover-items h3 {
  font-size: 1.5rem;
  color: var(--color-mainbtn3);
  margin-bottom: 1.5rem;
}
.projects .pj-item .pj-hover-items .pj-icons {
  display: flex;
  justify-content: center;
  align-items: center;
}
.projects .pj-item .pj-hover-items .pj-icons .pj-icon {
  background-color: var(--color-HI4);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0.75rem;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}
.projects .pj-item .pj-hover-items .pj-icons .pj-icon i {
  font-size: 1.5rem;
  color: var(--color-HI1);
  margin: 0 1rem;
}
.projects .pj-item .pj-hover-items .pj-icons .pj-icon:hover {
  background-color: var(--color-HI2);
}
.projects .pj-item .pj-hover-items .pj-icons .pj-icon:hover i {
  color: var(--color-HI3);
}
.projects .pj-item .pj-item-text {
  margin-top: -7px;
  padding: 1.1rem;
  border-top: 10px solid var(--color-tertiary);
}
.projects .pj-item .pj-item-text h4 {
  font-size: 1.5rem;
  color: var(--color-mainbtn3);
  margin-bottom: 0.7rem;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}
.projects .pj-item .pj-item-text h4:hover {
  color: var(--color-tertiary);
}
.projects .pj-item .pj-item-text p {
  color: var(--color-gtext1);
  line-height: 1.5rem;
  padding-bottom: 1rem;
  text-align: justify;
}
.projects .pj-item .pj-item-text h5 {
  color: var(--color-tertiary);
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

.blogss {
  display: grid;
  grid-template-columns: repeat(1 , 1fr);
  grid-gap: 1rem;
  margin-top: 0rem;
  margin-bottom: 6rem;
}

/*/ This is the old one with the border lines, 
.subhead {
  text-transform: uppercase;
  border-bottom: 2px solid var(--color-secondary);
  border-top: 2px solid var(--color-secondary);
  color: var(--color-secondary);
  padding: 1rem 0 1rem 0;
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: center;

}/*/

.subhead {
color: var(--color-p2-text2);
padding: 0.5rem;
text-align: center;
}
.subhead .ot-text {
  color: var(--color-tertiary);
}

.blogss .blog-item {
  position: relative;
  background-color: var(--color-senary);
  border-radius: 5px;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.1);
  transition: all 0.4s ease-in-out;
  margin-top: 1rem;
}


.blogss .blog-item:hover {
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.3);
  transform: translateY(-5px);
  transition: all 0.4s ease-in-out;
  /*/ Makes the overall box go up and down /*/
}
.blogss .blog-item:hover img {
  transform: scale(1.05);
  box-shadow: 1px 4px 15px rgba(0, 0, 0, 0.8);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;


}
.blogss .blog-item img {
  width: 100%;
  height: 22.5rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  transition: all 0.4s ease-in-out;
}
.blogss .blog-item:hover .blog-hover-items {
  opacity: 1;
  transform: scale(1.05);
}

.blogss .blog-item .blog-hover-items {
  width: 100%;
  height: 22.5rem;
  position: absolute;
  left: 0;
  top: 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  transition: all 0.4s ease-in-out;
  background-color: var(--blog-fade);
}
.blogss .blog-item .image .blog-hover-items p {
  font-size: 1.2vw;
  color: var(--color-gtext1);
  text-align : justify;
  position: relative;
  width: 65vw;
  height: 21vw;
}

.blogss .blog-item .blog-item-text {
  margin-top: -7px;
  padding: 1.1rem;
  border-top: 8px solid var(--color-tertiary);
}
.blogss .blog-item .blog-item-text h4 {
  font-size: 1.5rem;
  margin-bottom: 0.7rem;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
  color: var(--color-gtext1);
}
.blogss .blog-item .blog-item-text h4:hover {
  color: var(--color-tertiary);
  text-shadow: 0 2px 15px rgba(0,0,0,.3);
}

.blogss .blog-item .blog-hover-items .blog-icons {
  display: flex;
  justify-content: center;
  align-items: center;
}
.blogss .blog-item .blog-hover-items .blog-icons .blog-icon {
  background-color: var(--color-HI1);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0.75rem;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}
.blogss .blog-item .blog-hover-items .blog-icons .blog-icon i {
  font-size: 1.5rem;
  color: var(--color-HI4);
  margin: 0 1rem;
}
.blogss .blog-item .blog-hover-items .blog-icons .blog-icon:hover {
  background-color: var(--color-HI2);
}
.blogss .blog-item .blog-hover-items .blog-icons .blog-icon:hover i {
  color: var(--color-HI3);
}


/*/------------CONTACT SECTION-------------/*/
/*/CONTACT CONTAINER/*/
/*/This is the overall contained for the left and right columns/*/
.contact-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  margin-top: 3rem;
  grid-gap: 3rem;
  padding-left: 6rem;
  padding-right: 6rem;
}

/*/This is the p text in the overall container/*/
.contact-container .contact-con  p {
  margin: 1rem 1rem;
  line-height: 2rem;
  color: var(--color-secondary);
}

/*/CONTACT CONTAINER - LEFT SIDE/*/
/*/This is the left container/*/
.contact-container .contact-con-left {
  padding-left: 4rem;
  padding-right: 4rem;
}

/*/This is the left container h4 title text/*/
.contact-container .contact-con-left h4 {
  margin-top: 1rem;
  font-size: 2rem;
  text-transform: uppercase;
  color: var(--color-secondary);
  padding-top: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;

}

.contact-container .contact-con-left .image {
  position: relative;

}

/*/This is the left contact image/*/
.contact-container .contact-con-left .image img {
  border-radius:5px;
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
/*/This is the left contact image hover *** Just take it out for now since it links to nothing? Or eventually link it to references
Section .contact-con-left  .image img:hover {
  transform: scale(1.05);
  transition: all 0.4s ease-in-out;
}
/*/

/*/CONTACT CONTAINER - RIGHT SIDE/*/
.contact-container .contact-con-right {
  margin-left: 3rem;
  margin-right: 3rem;
  padding-left: 4rem;
  padding-right: 4rem;
  position: relative;
}

/*/This is the right container h4 title text/*/
.contact-container .contact-con-right h4 {
  margin-top: 1rem;
  font-size: 2rem;
  text-transform: uppercase;
  color: var(--color-secondary);
  padding-top: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
}

.contact-container .contact-con-right .contact-items {
  display: grid;
  grid-template-columns: repeat(3, 0.5fr);
  grid-gap: 2rem;

  }

/*/CONTACT CONTAINER **ITEM**- RIGHT SIDE/*/
/*/ This is an item in the right container /*/
.contact-container .contact-con-right .contact-items .contact-item {
  border: 3px solid var(--color-conframe1);
  border-radius: 15px;
  background-color: var(--color-tertiary);
  align-items: center;
  display: flex;
  justify-content:flex-start;
  transition: all 0.4s ease-in-out;
  position: relative;
}

.contact-container .contact-con-right .contact-items .contact-email {
  border: 3px solid var(--color-conframe1);
  border-radius: 15px;
  background-color: var(--color-tertiary);
  align-items: center;
  display: flex;
  justify-content:flex-start;
  transition: all 0.4s ease-in-out;
  position: relative;
}

.contact-container .contact-con-right .contact-items a {
  border: 3px solid var(--color-conframe1);
  border-radius: 15px;
  box-shadow: 1px 2px 15px rgba(0, 0, 0, 0.2);
  background-color: var(--color-tertiary);
  align-items: center;
  display: flex;
  justify-content: space-between;
  transition: all 0.4s ease-in-out;
  position: relative;
}

.contact-container .contact-con-right .contact-items .contact-email {
  border: 3px solid var(--color-conframe1);
  border-radius: 15px;
  box-shadow: 1px 2px 15px rgba(0, 0, 0, 0.2);
  background-color: var(--color-tertiary);
  align-items: center;
  display: flex;
  justify-content: flex-start;
  transition: all 0.4s ease-in-out;
  position: relative;
}

.contact-container .contact-con-right .contact-items .contact-email:hover {
  cursor: default;
  transform: translateY(-5px);
  transition: all 0.4s ease-in-out;
  box-shadow: 1px 4px 15px rgba(0, 0, 0, 0.5);
  border: 3px solid var(--color-conframe2);
  border-radius: 15px;
}


/*/ This is an item in the right container hover effects /*/
.contact-container .contact-con-right .contact-items a:hover {
  cursor: default;
  transform: translateY(-5px);
  transition: all 0.4s ease-in-out;
  box-shadow: 1px 4px 15px rgba(0, 0, 0, 0.5);
  border: 3px solid var(--color-conframe2);
  border-radius: 15px;
}

/*/This is the text in an item in the right container/*/
.contact-container .contact-con-right .contact-items .contact-item .con-text {
  padding: 1rem;
  position: relative;
}

/*/This is the LARGE text in an item in the right container/*/
.contact-container .contact-con-right .contact-items .contact-item .con-text .large-text {
  font-size: 1.3rem;
  font-weight: 700;
  color: var(--color-con-text);
  position: relative;
}

/*/This is the SMALL text in an item in the right container/*/
.contact-container .contact-con-right .contact-items .contact-item .con-text .small-text {
  padding-left: 3rem;
  position: relative;
  text-transform: uppercase;
  font-size: 1.2rem;
  color: var(--color-con-text);
  letter-spacing: 2px;
}

/*/ Not sure what this does? I think it's the small line/*/
.contact-container .contact-con-right .contact-items .contact-item .con-text .small-text::before {
  content: "";
  position: absolute;
  left: 0;
  top: 5px;
  width: 2rem;
  height: 2px;
  background-color: var(--color-con-text);
}

/*/ This is the icon holder item in the right container /*/
.contact-container .contact-con-right .contact-items .contact-item .contact-icon {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin: 0 0.75rem;
  cursor: pointer;
  position: relative;
}

/*/ This is the actual icon in the right container /*/
.contact-container .contact-con-right .contact-items .contact-item .con-text .contact-icon i {
  font-size: 2rem;
  color: var(--color-HI3);
  width: 100px;
  height: 100px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  display: relative;
  position: relative;
}

/*/ This is the icon item in the right container hyperlink/*/
.contact-container .contact-con-right .contact-item .con-text .contact-icon a {
  display: flex;
  align-items: center;
  color: var(--color-quinary);
  background-color: var(--color-secondary);
  cursor: pointer;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 0 0.4rem;
  transition: all 0.4s ease-in-out;
}


/*/ This is the icon item in the right container hyperlink/*/
.contact-container .contact-con-right .contact-item .contact-icon a:hover {
  background-color: var(--color-tertiary);
}
.contact-container .contact-con-right .contact-item .contact-icon a:hover i {
  color: var(--color-quinary);
}
.contact-container .contact-con-right .contact-item .contact-icon a i {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
}

/*/ The contact info grid under the big buttons /*/
.contact-container .contact-con-right .contact-grid-1{
  display: grid;
  grid-template-columns: 1rem auto auto;
  grid-gap: 1rem;
}

/*/ The contact info grid icons /*/
.contact-container .contact-con-right .contact-grid-1 .grid-icons {
  display: grid;
  grid-template-columns: repeat(1rem, 1fr);
  justify-content: center;
  grid-template-rows: auto;
  margin-top: 1rem;
}

/*/ The containers for the icons for the contatc page on the grid /*/
.contact-container .contact-con-right .contact-grid-1 .grid-icon {
  color: var(--color-secondary);
  align-items: center;
  font-size: 1.2rem;
  display: flex;
  width: 100%;
  max-width: 0;
  align-content: center;
  
}

/*/ The icons for the contatc page on the grid /*/
.contact-container .contact-con-right .contact-grid-1 .grid-icon i {
  color: var(--color-secondary);
  align-items: center;
  font-size: 1.2rem;
  display: table-cell;
  width: 100%;
  max-width: 0;
  justify-content: center;
}

/*/ The contact info in the grid, it's main text container /*/
.contact-container .contact-con-right .contact-grid-1 .grid-contact-text {
  margin-top: 1rem;
}
/*/ The contact info in the grid, it's the actual text /*/
.contact-container .contact-con-right .contact-grid-1 .grid-contact-text p {
  color: var(--color-secondary);
  align-items: center;
  display: flex;
  padding: 0.5rem;
  font-weight: 500;
  font-size: 1.2rem;
  justify-content: flex-start;
}

.contact-container .contact-con-right .contact-grid-1  .grid-contact-info {
  margin-top: 1rem;
}

.contact-container .contact-con-right .contact-grid-1  .grid-contact-info p {
  color: var(--color-secondary);
  align-items: center;
  display: flex;
  padding: 0.5rem;
  font-weight: 500;
  font-size: 1.2rem;
  justify-content: flex-end;
}

/*/ The button for resume download /*/
.contact-container .contact-con-right .btn-con-con {
  display: flex;
  align-self: flex-start;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: 1rem;
}

.contact-container .contact-con-right .btn-con-con .main-btn:hover .btn-text { 
  padding: 0 2rem;
  color: var(--color-MBtext2);
}

.contact-container .contact-con-right .btn-con-con .main-btn {
  border-radius: 40px;
  color: inherit;
  font-weight: 600;
  position: relative;
  border: 3px solid var(--color-mainbtn2);
  display: flex;
  align-self: flex-start;
  align-items: center;
  overflow: hidden;
}
.contact-container .contact-con-right .btn-con-con .main-btn .btn-text {
  padding: 0 2rem;
  color: var(--color-MBtext1);
}

.contact-container .contact-con-right .btn-con-con .main-btn .btn-icon {
  background-color: var(--color-tertiary);
  color: var(--color-HI3);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 1rem;
}
.contact-container .contact-con-right .btn-con-con .main-btn::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(100%);
  transition: all 0.4s ease-out;
  z-index: -1;
}
.contact-container .contact-con-right .btn-con-con .main-btn:hover {
  transition: all 0.4s ease-out;
  
}

.contact-container .contact-con-right .btn-con-con .main-btn:hover::before {
  width: 100%;
  height: 100%;
  background-color: var(--color-tertiary);
  transform: translateX(0);
  transition: all 0.4s ease-out;
}






/*Independent Components*/
.btn-con {
  display: flex;

}


.main-btn:hover .btn-text { 
  padding: 0 2rem;
  color: var(--color-MBtext2);
}

.main-btn {
  border-radius: 40px;
  color: inherit;
  font-weight: 600;
  position: relative;
  border: 3px solid var(--color-mainbtn2);
  display: flex;
  align-self: flex-start;
  align-items: center;
  overflow: hidden;
}
.main-btn .btn-text {
  padding: 0 2rem;
  color: var(--color-MBtext1);
}

.main-btn .btn-icon {
  background-color: var(--color-tertiary);
  color: var(--color-HI3);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 1rem;
}
.main-btn::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(100%);
  transition: all 0.4s ease-out;
  z-index: -1;
}
.main-btn:hover {
  transition: all 0.4s ease-out;
  
}

.main-btn:hover::before {
  width: 100%;
  height: 100%;
  background-color: var(--color-tertiary);
  transform: translateX(0);
  transition: all 0.4s ease-out;
}

.main-title {
  text-align: center;
}
.main-title h2 {
  position: relative;
  text-transform: uppercase;
  font-size: 4rem;
  font-weight: 700;
  color: var(--color-tertiary);
  text-shadow: 0 2px 15px rgba(0,0,0,.3);
}
.main-title h2 span {
  color: var(--color-secondary);
}
.main-title h2 .bg-text {
  position: absolute;
  top: 50%;
  left: 50%;
  color: var(--color-grey-1);
  transition: all 0.4s ease-in-out;
  z-index: -1;
  transform: translate(-50%, -50%);
  font-weight: 800;
  font-size: 6.3rem;
}
.main-title p {
  color: var(--color-p2-text2);
  padding: 1rem;
}



@media screen and (max-width: 1432px) {
  header {
    padding: 0 !important;
  }
  .section {
    padding: 7rem 11rem;
  }

}

@media screen and (max-width: 1392px) {
  .about-container .right-about {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (max-width: 1292px) {

}


@media screen and (max-width: 1090px) {
  .portfolios {
    grid-template-columns: repeat(2, 1fr);
  }
  .contact-container {
    padding-left: 0rem;
    padding-right: 0rem;
  }

  .contact-container .contact-con-right {
    padding-left: 0rem;
    padding-right: 0rem;
    margin-left: 0rem;
    margin-right: 0rem;
  }

  .contact-container .contact-con-left {
    padding-left: 0rem;
    padding-right: 0rem;
    margin-left: 0rem;
    margin-right: 0rem;
  }
}



@media screen and (max-width: 1070px) {
  .about-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .about-container .right-about {
    padding-top: 2.5rem;
    grid-template-columns: repeat(2, 2fr);
  }
  .about-container .left-about {
    padding-right: 0rem;
  }
  .timeline {
    grid-template-columns: 1fr;
  }
  .portfolios {
    grid-template-columns: repeat(2, 1fr);
  }
  .projects {
    grid-template-columns: repeat(2, 1fr);
  }
  .blogs {
    grid-template-columns: repeat(1, 1fr);
  }
  .main-title h2 {
    font-size: 4rem;
  }
  .main-title h2 span {
    font-size: 4rem;
  }
  .main-title h2 .bg-text {
    font-size: 4.5rem;
  }
}

@media screen and (max-width: 970px) {
  .section {
    padding: 7rem 6rem;
  }
  header {
    padding: 0;
  }
  header .right-header {
    padding: 0 !important;
  }
  .theme-btn {
    width: 50px;
    height: 50px;
  }
  .header-content {
    grid-template-columns: 1fr;
    padding-bottom: 6rem;
  }
  .left-header .h-shape {
    display: none;
  }
  .right-header {
    grid-row: 1;
    width: 98%;
    margin: 0 auto;
  }
  .right-header .name {
    font-size: 2.5rem !important;
  }
  .header-content .left-header .image {
    margin: 0 auto;
    width: 90%;
  }
  .controls {
    top: auto;
    bottom: 0;
    flex-direction: row;
    justify-content: center;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
  }
  .controls .control {
    margin: 1rem 1rem !important;
  }
  .portfolios {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 800px) {
  .portfolios {
    grid-template-columns: repeat(1, 1fr);
  }
  .portfolios-essay {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media screen and (max-width: 740px) {
  .section {
    padding: 7rem 3rem;
  }
  .about-stats .progress-bars {
    grid-template-columns: 1fr;
  }
  .portfolios {
    grid-template-columns: repeat(1, 1fr);
  }
  .main-title h2 {
    font-size: 3rem;
  }
  .main-title .bg-text {
    font-size: 4rem;
  }
}
@media screen and (max-width: 600px) {
  .about-container {
    grid-template-columns: 1fr;
  }
  .about-container .right-about {
    grid-template-columns: 1fr;
    padding-top: 2.5rem;
  }
  .about-container .left-about {
    padding-right: 0;
  }
  .about-container .left-about p {
    padding-left: 0;
  }
  .timeline {
    grid-template-columns: 1fr;
    padding-bottom: 6rem;
  }
  .about-stats .progress-bars {
    grid-template-columns: 1fr;
  }
  .portfolios {
    grid-template-columns: repeat(1, 1fr);
    padding-bottom: 6rem;
  }
  .blogs {
    grid-template-columns: 1fr;
    padding-bottom: 6rem;
  }
  .section {
    padding: 1rem 1rem !important;
  }
  .main-title h2 {
    font-size: 2rem;
  }
  .main-title h2 span {
    font-size: 2.5rem;
  }
  .main-title h2 span .bg-text {
    font-size: 3rem;
  }
}/*# sourceMappingURL=styles.css.map */


